<div class="header navbar navbar-default navbar-fixed-top reverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#start"><img src="{{ url_for("static", filename="logos/jpp.png") }}"/><span class="article_title hidden">{% trans %}Digital Arts Circus{% endtrans %}</span></a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="bookmark">
				<ul class="nav navbar-nav chapters">
					<li class="active"><a href="#start">{% trans %}Intro{% endtrans %}</a></li>
					<li><a href="#bohemia">{% trans %}Code Bohemia{% endtrans %}</a></li>
					<li><a href="#opensource">{% trans %}Open Source Art{% endtrans %}</a></li>
					<li><a href="#market">{% trans %}Market Forces{% endtrans %}</a></li>
				</ul>
			</div>
			
		</div><!--/.nav-collapse -->
	</div>
</div>
